body{
  background: url('../assets/sak.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#jumbotron{
  margin-top: 10em;
  text-align: center;
  p{
    text-indent: 3em;
  }
}
.bold{
  font-weight: bold;
}
table{
  border-style: solid;
  border-color: lightpink;
  @extend .bold
}

@media only screen and (max-width: 600px) {
  body {
    background: lightblue;
  }
}